@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Couleurs */
  --text-color: #000000;
  --dark-blue: #0065FC;
  --light-blue: #DEEBFF;
  --dark-grey: #d9d9d9;
  --light-grey: #F2F2F2;
  --white: #ffffff;

  /* Valeurs de marges */
  --deskop-marge: 94%;
  --mobile-marge: 90%;
  
}

* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body, html {
  padding: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

header, main, .footer-box {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

/* Bordure de fenêtre */
main {
  width: var(--deskop-marge);  
  margin-right: auto;
  margin-left: auto;
}

h2{
  font-size: 22px;
}

.accomodation-card, .activity-card {
  border-radius: 20px;
  box-shadow: 2px 5px 20px 2px rgba(119, 119, 119, 0.3);
  overflow: hidden;
}

@media (max-width: 767px)  {
  /* Bordure de fenêtre */
  main {
    width: 100%;
  }
}