/* Barre de recherchge */

.research__title h1{
  font-size: 23px;
  margin-bottom: 10px;
}

.research__title p{
  margin-top: 12px;
}


.research-box {
  margin-top: 20px;
  position: relative;
  width: 400px;
  height: 53px;
  border: 1px solid var(--light-grey);
  border-radius: 15px;
  display: flex;
}

.research-box__map {
  width: 64px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  border-radius: 15px 0px 0px 15px;
}

.research-box__map i{
  font-size: 18px;
}

.research-box__input {
  width: 100%;
  height: 100%;
}

.research-box__input input{
  margin-left: 15px;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-weight: bold;
}

.research-box__input input:focus{
  outline:  none;
}

.research-box__button {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--dark-blue);
  cursor: pointer; 
}

.research-box__button i{
  color: var(--white);
  display: none; 
}

.research-box__button-text{
  color: var(--white);
  font-weight: bold;
}

@media (max-width: 767px)  {
 
  .research-box, .research__title {
    width: var(--mobile-marge);
    margin-left: auto;
    margin-right: auto;
  }

   .research-box__map {
     width: 15%;
   }

  .research-box__button {
    width: 15%;
    border-radius: 15px;
    background-color: var(--dark-blue);
  }

  .research-box__button i{
    display: block; 
  }
  
  .research-box__button-text{
    display: none;
  }
}
